.view {
  background: url("../../assets/img/background-white.jpg") no-repeat center
    center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.wheel {
  background: url("../../assets/img/Ruleta.png");
  background-size: contain;
}
