.view {
  background: url("https://quizsierra.000webhostapp.com/Tapijulapa.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.wheel {
  background: url("https://quizsierra.000webhostapp.com/Ruleta.png");
  background-size: contain;
}
