.btn {
  font-size: 18px;
  border: none;
  border-radius: 4px;
}

.btn-primary {
  color: white;
  background-color: blue;
}

.btn-primary:hover {
  background-color: darkblue;
}

.modal-cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1040;
  display: none;
}

.modal-cover.modal-cover-active {
  display: block;
}

.modal-container {
  z-index: 1050;
  position: fixed;
  border: 1px solid lightgray;
  border-radius: 6px;
  background: white;
  width: 300px;
  min-height: 250px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.modal-container.modal-container-active {
  display: block;
}

/*==========  Structure  ==========*/
.btn-push {
  display: inline-block;
  font-family: "Open Sans";
  text-decoration: none;
  font-size: 20px;
  background: #f7f7f7;
  padding: 15px 20px;
  border: 1px solid #c4c4c4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #c4c4c4;
  -moz-box-shadow: 0px 5px 0px #c4c4c4;
  -ms-box-shadow: 0px 5px 0px #c4c4c4;
  -o-box-shadow: 0px 5px 0px #c4c4c4;
  box-shadow: 0px 5px 0px #c4c4c4;
  color: #222;
  text-shadow: 1px 1px 1px #fff;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
  margin-left: 3%;
}
/*==========  Active State  ==========*/
.btn-push:active {
  position: relative;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -ms-box-shadow: none !important;
  -o-box-shadow: none !important;
  box-shadow: none !important;
  -webkit-transition: All 250ms ease;
  -moz-transition: All 250ms ease;
  -o-transition: All 250ms ease;
  -ms-transition: All 250ms ease;
  transition: All 250ms ease;
}
/*==========  Navy  ==========*/
.btn-push.navy {
  background: #438633;
  color: #fff;
  border: 1px solid #438633;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #438633;
  -moz-box-shadow: 0px 5px 0px #438633;
  -ms-box-shadow: 0px 5px 0px #438633;
  -o-box-shadow: 0px 5px 0px #438633;
  box-shadow: 0px 5px 0px #438633;
  text-shadow: 1px 1px 1px #438633;
}

.btn-push.green {
  background: #7cc576;
  color: #fff;
  border: 1px solid #46963f;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #46963f;
  -moz-box-shadow: 0px 5px 0px #46963f;
  -ms-box-shadow: 0px 5px 0px #46963f;
  -o-box-shadow: 0px 5px 0px #46963f;
  box-shadow: 0px 5px 0px #46963f;
  text-shadow: 1px 1px 1px #46963f;
}

.btn-push.red {
  background: #df4242;
  color: #fff;
  border: 1px solid #a01b1b;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 0px #a01b1b;
  -moz-box-shadow: 0px 5px 0px #a01b1b;
  -ms-box-shadow: 0px 5px 0px #a01b1b;
  -o-box-shadow: 0px 5px 0px #a01b1b;
  box-shadow: 0px 5px 0px #a01b1b;
  text-shadow: 1px 1px 1px #a01b1b;
}
