.quizView {
  background: url("../../assets/img/background.jpg") no-repeat center center
    fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.questions {
  border-left: 5px solid#438633;
  background-color: white;
  width: 90%;
  margin: 0 auto 0 auto;
  padding: 1.5rem 2rem;
}
.h2 {
  text-align: center;
  font-weight: lighter;
}

.lifeline-container {
  display: flex;
  justify-content: space-between;
}

.lifeline {
  position: relative;
  top: -3px;
}

.lifeline-icon {
  color: #57b846;
  cursor: pointer;
}

.lifeline-icon:hover {
  background: none;
  color: darken(#ffa500, 10%);
}

.h3 {
  font-size: 1.5rem;
  line-height: 1.5;
  text-align: center;
}

.options-container {
  width: 100%;
}

.option {
  background-color: #438633;
  border-radius: 30px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
  margin: 1rem auto;
  padding: 1.5rem;
  transition: 0.3s linear all;
  text-align: center;
  width: 90%;
}

.option :hover {
  background-color: darken(#438633, 50%);
}

.button-container {
  display: flex;
  justify-content: flex-start;
  margin: 0 auto 1.5rem auto;
  padding: 1rem;
  width: 80%;
}

.button-container button {
  border: none;
  color: #f8f8f8;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  margin-right: 1rem;
  padding: 0.5rem 1.5rem;
}

.button-container button:first-child {
  background-color: darken(#438633, 10%);
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s linear all;
}

.button-container button:first-child:hover {
  background-color: darken(#438633, 20%);
}

.button-container button:nth-child(2) {
  background-color: #57b846;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s linear all;
}

.button-container button:nth-child(2):hover {
  background-color: darken(#57b846, 10%);
}

.button-container button:last-child {
  background-color: #ea4355;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
  transition: 0.2s linear all;
}

.button-container button:last-child:hover {
  background-color: darken(#ea4355, 10%);
}

.valid {
  color: #57b846;
}

.warning {
  color: #ffa500 !important;
}

.invalid {
  color: #ea4355 !important;
}

.toast-invalid {
  background-color: #f44336 !important;
  border-radius: 5px !important;
  color: #f8f8f8 !important;
}

.toast-valid {
  background-color: #4caf50 !important;
  border-radius: 5px !important;
  color: #f8f8f8 !important;
}

.disable {
  background-color: #ccc !important;
  box-shadow: none !important;
  opacity: 0.9 !important;
  pointer-events: none;
}
