.viewSummary {
  background: url("https://quizsierra.000webhostapp.com/background1.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.quiz-summary {
  font-family: "Quicksand", sans-serif;
}
span.success-icon {
  color: #417991;
  font-size: 7rem;
}

h2 {
  color: #1da1f2;
}

h4 {
  color: lighten(#333, 10%);
}

.stats {
  max-width: 50%;
  padding: 1.5rem 2rem 2rem 2rem;
}

.stats h4,
.stats h2 {
  text-align: center;
}

.stats .stat {
  color: #333;
  font-size: 1rem;
}

section ul {
  margin-top: 1.5rem;
  text-align: center;
}

section ul li {
  display: inline-block;
}

section ul li a {
  padding: 1rem;
  color: white;
  background-color: #57b846;
}

.no-stats {
  color: #333;
  margin: 7rem auto;
}

@media (max-width: 768px) {
  .quiz-summary {
    font-size: 1rem;
  }

  div.container.stats {
    margin: 0;
    padding: 2rem;
    max-width: 100%;
    width: 100%;
  }
}
