.instructions {
  background: url("https://quizsierra.000webhostapp.com/background1.jpg")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  border: 1px solid darken(#f8f8f8, 10%);
  border-radius: 5px;
  padding: 1.5rem 3rem;
}
.h1 {
  color: #333;
  font-size: 2rem;
  text-align: center;
}

.lifeline {
  position: relative;
  top: -3px;
}

.lifeline-icon {
  color: #57b846;
  cursor: pointer;
}

.browser-default {
  padding-left: 30px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.img {
  width: 80%;
  height: 50%;
}

@media (max-width: 768px) {
  .instructions img {
    width: 100% !important;
    height: 150% !important;
  }
}
